.header__logo {
    width: 142px;
    height: 33px;
    margin: 0 0 41px;
    background-image: url(../../../images/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin: 0 0 31px;
    }
}