.elements {
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 20px 17px;
}

@media screen and (max-width: 768px) {
    .elements {
        margin-top: 36px;
        grid-template-columns: repeat(auto-fill, minmax(262px, 1fr)); 
    }
}