.profile__avatar {
    height: 120px;
    width: 120px;
    margin: 0 24px 0 0;
    object-fit: cover;
    border-radius: 165px / 165px;
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        margin: 0;
    }
}